.dashboard-page {
  padding: 2rem;
  background-color: #f5f5f5;
  flex-grow: 1;
}

.dashboard-page__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}
